{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Login" %}</h2>
<form method="POST">
    {% csrf_token %}
    <label for="username">{% trans "Username:" %}</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">{% trans "Password:" %}</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">{% trans "Login" %}</button>
</form>
<p>{% trans "Don't have an account?" %} <a href="{% url 'register' %}">{% trans "Create an account" %}</a></p>
{% for message in messages %}
    <p style="color: red;">{{ message }}</p>
{% endfor %}
{% endblock %}
